.button {
    // background-color: $light-blue;
    background-color: white;
    border: 1px solid $med-purple;
    color: $med-purple;
    display: block;
    font-size: 1.4rem;
    font-weight: $bold;
    margin: 10px 0;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    width: 100%;

    &:hover {
        background-color: $med-purple;
        color: white;
    }

    &--inactive {
        border: 1px solid $light-blue;
        color: $light-blue;
    }
}

.link--button {
    background: transparent;
    border: none;
    color: $link-color;
    font-weight: $bold;
    padding: 0 7px;
    transition: all 0.5s ease-in-out;

    &:hover {
        color: $link-color-hover;
        cursor: pointer;
        text-decoration: underline;
    }
}