footer {
		hr{
			color: $dark-purple;
		}
	margin-top: 50px;

    p {
        font-weight: $bold;
        text-align: center;
		}
		a{
			color: $link-color;

			&:hover {
				color: $link-color-hover;
				cursor: pointer;
				text-decoration: underline;
			}
		}
	
}