header {

    h1 {
        font-size: 3em;
        font-weight: 400;
        text-transform: uppercase;

        span {
            font-weight: 700;
        }
    }
}

nav{
	float: right;

	li{
		float: left;
		padding: 5px;
	}
}