/* =========================================
HEADER
============================================ */

header {

    h1 {
        color: $med-purple;
        font-size: 3em;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        span {
            font-weight: 700;
        }
    }
}

nav{
    padding-top: 20px;
	ul{
		float:right;

	li{
        padding: 5px;
        font-size: 2rem;
		float:left;
        a {
            color: $link-color;
            font-weight: bold;
            padding: 0 7px;
            text-decoration: none;
            transition: all 0.5s ease-in-out;

            &:hover {
                color: $link-color-hover;
                text-decoration: underline;
            }

            &.active {
                color: $dark-purple;
            }
        }
		}
	}
}