.product_li{
	float: left;
}

.product {
	width: calc(25% - 40px);
	min-width: 200px;
	margin: 20px;
	border: 2px solid $light-blue;
	box-shadow: 3px 3px 0px $light-blue;
	padding: 10px;
	span{
		display: block;
	}
	a{
		text-decoration: none;
		color: $med-purple;
	}
	a:visited{
		color: $med-purple;
	}
}

.product__name{
	color: inherit;
}

.product__brand{
	text-transform: uppercase;
}

.product__image--container{
	color: inherit;
	img{
		margin: 0 auto;
	}
}

.color-set__item{
	border-radius: 50%;
	width:10px;
	height:10px;
	display:inline-block;
	margin: 2px;
}