.product_li{
	float: left;
	max-width: 250px;
}

.product {
	background: white;
	width: calc(25% - 40px);
	margin: 20px 20px 30px 20px;
	min-width: 200px;
	border: 2px solid $light-blue;
	box-shadow: 3px 3px 0px $light-blue;
	padding: 10px;
	height: 450px;
	position: relative; // so we can position-absolute the buttons
	span{
		display: block;
	}
	a{
		text-decoration: none;
		color: $med-purple;
	}
	a:visited{
		color: $med-purple;
	}
}

.product__name{
	color: inherit;
}

.product__brand{
	text-transform: uppercase;
}

.product__image--container{
	color: inherit;
	position: relative;
	img{
		margin: 0 auto;
	}
}

.color-set__item{
	border-radius: 50%;
	width:10px;
	height:10px;
	display:inline-block;
	margin: 2px;
}

.buttons {
	position: absolute;
	bottom: 10px;
	width: 85%;
	left: 50%;
	transform: translateX(-50%);
}

