/* =========================================
TYPOGRAPHY
============================================ */

$raleway : 'Raleway', sans-serif;

$body-font: $raleway;
$heading-font: $raleway;
$bold: 700;
$link-color: $med-purple;
$link-color-hover: $dark-purple;

html {
    font-size: 62.5%;
}

body {
    font-family: $body-font;
    font-size: 1.6rem;
}