/* =========================================
VARIABLES & MIXINS
============================================ */

/* ------------  COLORS  ------------ */

$dark-purple: #4D1137;
$med-purple: #A32DBB;
$light-purple: #B998F2;
$light-blue: #C6DCF1;

$rgb-dark-purple: rgba(77, 17, 55, 1);
$rgb-med-purple: rgba(163, 45, 187, 1);
$rgb-light-purple: rgba(185, 152, 242, 1);
$rgb-light-blue: rgba(198, 220, 241, 1 );