/* =========================================
KITHUB -- A searchable database for your makeup bag!
Designed and built by Jackie Lealess, Orry Mevorach, and Laura-Louise Tobin
2018 Hacker You Bootcamp
============================================ */

@import 'setup';
@import 'var-mix';
@import 'typography';

@import 'header';
@import 'sign-in';
@import 'product';
@import 'button';


/* =========================================
MAIN STYLES
============================================ */

html{
	font-size:62.5%;
}

img{
	display: block;
	max-width: 100%;
}

.wrapper{
	border: 3px solid $dark-purple;
	width: 85%;
	margin: 75px auto;
	background-color: rgba(255, 255, 255, 0.9);
}

ul{
	list-style:none;
}

body{
	background-image: url(../../assets/background-body.jpg);
	background-attachment:fixed;
	// background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}


/* =========================================
HOME
============================================ */

