/* =========================================
KITHUB -- A searchable database for your makeup bag!
Designed and built by Jackie Lealess, Orry Mevorach, and Laura-Louise Tobin
2018 Hacker You Bootcamp
============================================ */

@import 'setup';
@import 'var-mix';
@import 'typography';

@import 'header';
@import 'sign-in';
@import 'product';
@import 'button';
@import 'footer';


/* =========================================
MAIN STYLES
============================================ */

html{
	font-size:62.5%;
}

img{
	display: block;
	max-width: 100%;
}

.wrapper{
	border: 10px solid $dark-purple;
	padding: 60px 60px 30px;
	width: 85%;
	margin: 75px auto;
	background-color: rgba(255, 255, 255, 0.9);
		@media (max-width:500px){
			padding:25px;
			padding-bottom:15px;
		}
}

ul{
	list-style:none;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
}

body{
	background-image: url(../../images/background-body.jpg);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
}

.product-list{

	display: inline-block;
	li{
		@media (max-width: 700px){
			width: 100%;
		}
	}

}